/.cache
/.settings/org.eclipse.jdt.core.prefs
/editor/*.generated.*
/editor/java/trans
/include/
/include/minijava-java.jar
/include/MiniJava-parenthesize.str
/include/MiniJava-Permissive.def
/include/minijava.ctree
/include/minijava.ctree.dep
/include/MiniJava.def
/include/MiniJava.generated.pp.af
/include/minijava.jar
/include/MiniJava.packed.esv
/include/MiniJava.pp.af
/include/MiniJava.rtg
/include/minijava.rtree
/include/MiniJava.str
/include/MiniJava.tbl
/lib-refactoring/*.generated.str
/lib/*.generated.str
/lib/runtime
/src-gen
/syntax/*.sdf
/syntax/MiniJava*.generated.esv
/syntax/MiniJava.generated.pp
/target
/trans/*.generated.str
/trans/names.str
/utils
/.settings/
/lib/
